<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.alura.ativarinformatica">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ativar_splash"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ativar_splash"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ListaClientesActivity"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity android:name=".FormularioClientesActivity" />
        <activity
            android:name=".SplashScreenActivity"
            android:label="@string/title_activity_splash_screen"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
    </application>

</manifest>